body {
  margin: 0;
  background:  black;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  min-height: 100%;
  
  
}
.condiciones{
    background: linear-gradient(-90deg, #C3BFC7 ,  #E2DEE6 ,#E2DEE6 , #C3BFC7);
}
.tabla{
   padding:5%;
    border-style: dotted ;
    border-color: white;
    
}
.tabla2{
   padding:1%;
    border-style: dashed;
    border-color: white;
    width: 50%;
    border-radius: 5px;
    
}
.clase{
    border-style: dotted ;
    border-color: white;
    width: 70%;
}
th{
    border-bottom:1pt solid #ffffff;
    color: white;
    font-family: 'Allerta Stencil';
    font-size:130%;
}

.pure-img-responsive {
    max-width: 30%;
    height: auto;
    margin:5%;
    margin-right: 50%;
}
.responsive{
    max-height: 18%;
    width:auto;
    padding:6%;
}
table{
    margin-left: auto;
    margin-right: auto;
   
}
tr.abajo3 td {
    border-bottom:1pt solid #ffffff;
    
}
tr.arriba td {
    border-top:1pt solid #99ff00;
    
}
td.arriba{
   border-top:1pt dashed rgba(102,102,102,.8); 
}
td.abajo{
   border-top:1pt solid #99ff00; 
}
tr.abajo2 td {
    border-bottom:1pt solid #ff0033 ;
}
td{
    font-size:140%;
    font-family: 'Century Gothic';
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
}
.back{
    background:repeating-linear-gradient(135deg,
    rgba(255, 255, 255, .9),
    rgba(255, 255, 255, 0.85) 6px,
    rgba(255, 255, 255, .9) 6px,
    rgba(255, 255, 255, .85) 6px); 
}
td{
    align-content: center;
}
h1 {
  font-weight: normal;
  color: white;
  font-family: 'Allerta Stencil';
}
h2 {
  font-size: 100%;
  margin: 40px 80px 0 80px;
  text-shadow: #222 3px 3px 0;
  line-height: 65px;
}

h3 {
  font-size: 100%;
  margin: 30px 80px 0 80px;
  text-align: right;
  text-shadow: #222 3px 3px 0;
}

a {
  text-decoration: none;
  
}
.logo{
    width: 4%;
}

.main-header {
  background: #222;
  padding: 5px 0 5px 65px;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}


.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 32px;
}

.page-wrap {
  float: right;
  width: 100%;
  transition: width 0.3s ease;
}

.site-nav {
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  background: #222;
  overflow-y: auto;
  transition: width 0.3s ease;
  white-space: nowrap;
  text-transform: uppercase;
   color: white;
    font-family: 'Allerta Stencil';
}

.site-nav a {
  display: block;
  border-bottom: 1px solid #666;
  color: white;
  padding: 34px;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #32014D;
}

.site-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.content {
  padding: 10%;
  max-width: 90%;
}

.close-menu {
  display: none;
}

#site-nav:target {
  width: 30%;
}

#site-nav:target + .page-wrap {
  width: 70%;
}

#site-nav:target + .page-wrap .close-menu {
  display: block;
}

#site-nav:target + .page-wrap .main-header {
  width: 70%;
  left: 30%;
}

/*********************************************************************************/
/*Lo de la animación*/
.canvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.contentOtro {
  background: rgba(0, 0, 0, 0.8);
  color: #f4f4f4;
  height: auto;;
  margin: auto;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  width: 768px;
  z-index: 1;
}